body{
  color: white;
  background: #19172e;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

input {
  padding: 10px 10px;
}

img {
  margin-right: 20px;
  
  
}